/* My first CSS
Author: Ana
Version 2.0 */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--cor-primaria: #CFE0E3;
    --cor-secundaria: #335C63;
    --cor-terciaria: #E37346;
    --cor-quaternaria: #223d42;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	background-color: var(--cor-primaria);
	color: var(--cor-secundaria);
	font-family: var(--fonte-secundaria);
}

.main__image {
	width: 563px;
	border-radius: 15px;
	margin: 10px;
	margin-left: 64px;
}

h1 {
	font-size: 40px;
}
.cabecalho__menu {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: start;
	gap: 10px;
	padding: 2%;
	margin-left: 5%;
	font-family: "Krona one", sans-serif;
	font-size: 24px;
	font-weight: 400;
}
.cabecalho__menu__link {
	width: 200px;
	text-align: center;
	border: 5px;
	border-radius: 8px;
	padding: 10px 15px;
	text-decoration: none;
}
.cabecalho__menu__link:hover{
	background-color: var(--cor-secundaria);
	color: var(--cor-primaria);
	border-color: var(--cor-quaternaria);
	cursor: pointer;
}
.conteudo__blog__titulo{
	color: var(--cor-terciaria);
	font-family: var(--fonte-primaria);
}
.conteudo__blog__texto{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	gap: 12px;
	font-size: 24px;
	font-family: var(--fonte-secundaria);
	margin-bottom: 15px;
	text-align: justify;
	text-justify: inter-word;
}
.apresentacao {
	padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__blog__texto p{
    margin-bottom: 16px;
}

p {
	font-size: 14px;
}
.button__social {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}
.button__social__subtitle {
	font-family: var(--fonte-primaria);
	font-weight: 400;
	font-size: 24px;
	color: var(--cor-terciaria);
}

.button__social__link {
	display: flex;
	justify-content: center;
	gap: 16px;
	width: 300px;
	text-align: center;
	border: 5px solid var(--cor-secundaria);
	border-radius: 8px;
	padding: 21.5px 0;
	font-size: 24px;
	font-weight: 600;
	text-decoration: none;
	color: var(--cor-secundaria);
	font-family: var(--fonte-secundaria);
}
.button__social__link img{
	width: 32px;
}
.button__social__link:hover{
	background-color: var(--cor-secundaria);
	color: var(--cor-primaria);
	border-color: var(--cor-quaternaria);
	cursor: pointer;
}

a {
	color: var(--cor-secundaria);
}
.img1 {
	margin: 5px;
}
.rodape {
	background-color: var(--cor-terciaria);
	color: var(--cor-quaternaria);
	padding: 23px;
	text-align: center;
	font-family: "Krona one", sans-serif;
	font-size: 24px;
	font-weight: 400;
}