/* My first CSS
Author: Ana
Version 2.0 */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #CFE0E3;
	color: #335C63;
	font-family: "Montserrat", sans-serif;
}

.cimage {
	width: 300px;
	border: 15px;
	padding: 50px;
	margin: 20px;
}

h1 {
	font-size: 40px;
}

.titulo__blog{
	color: #E37346;
	font-family: "Krona One", sans-serif;
}

.conteudo__blog__destaque{
	color: #335C63;
	font-size: 25px;
	font-family: "Krona One", sans-serif;
}
.conteudo__blog{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	gap: 12px;

}
.apresentacao {
	margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
	font-size: 14px;
}

.button__social {
	border: 2px solid #E1D8C9;
	border-radius: 10px;
	background-color:  #e2d2b5;
	padding: 8px;
}

a {
	color: #335C63;
}
.img1 {
	margin: 5px;
}
.right {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	width: 15%;
	background-color: #E1D8C9;
	height: 30%;
	float: right;
	border: 2px solid #B33300;
}

.urgente {
	color: #B33300;

}