/* My first CSS
Author: Ana
Version 2.0 */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
}

body {
	/* height: 100vh; */
	box-sizing: border-box;
	background-color: #CFE0E3;
	color: #335C63;
	font-family: "Montserrat", sans-serif;
}

.main__image {
	width: 563px;
	border-radius: 15px;
	margin: 10px;
	margin-left: 64px;
}

h1 {
	font-size: 40px;
}
.cabecalho__menu {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: start;
	gap: 10px;
	padding: 2%;
	margin-left: 5%;
	font-family: "Krona one", sans-serif;
	font-size: 24px;
	font-weight: 400;
}
.cabecalho__menu__link {
	width: 200px;
	text-align: center;
	border: 5px;
	border-radius: 8px;
	padding: 10px 15px;
}
.cabecalho__menu__link:hover{
	background-color: #335C63;
	color: #CFE0E3;
	border-color: #223d42;
	cursor: pointer;
}
.conteudo__blog__título{
	color: #E37346;
	font-family: "Krona One", sans-serif;
}
.conteudo__blog__texto{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	gap: 12px;
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 15px;
	text-align: justify;
	text-justify: inter-word;
}
.apresentacao {
	padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
	font-size: 14px;
}
.button__social {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}
.button__social__subtitle {
	font-family: "Krona one", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #E37346;
}

.button__social__link {
	display: flex;
	justify-content: center;
	gap: 16px;
	width: 300px;
	text-align: center;
	border: 5px solid #335C63;
	border-radius: 8px;
	padding: 21.5px 0;
	font-size: 24px;
	font-weight: 600;
	text-decoration: none;
	color: #335C63;
	font-family: "Montserrat", sans-serif;
}
.button__social__link img{
	width: 32px;
}
.button__social__link:hover{
	background-color: #335C63;
	color: #CFE0E3;
	border-color: #223d42;
	cursor: pointer;
}

a {
	color: #335C63;
}
.img1 {
	margin: 5px;
}
.rodape {
	background-color: #E37346;
	color: #223d42;
	padding: 23px;
	text-align: center;
	font-family: "Krona one", sans-serif;
	font-size: 24px;
	font-weight: 400;
}